h1 {
    text-align: center;
}

section {
    display: flex;
    width: 50%;
    margin: auto;
    text-align: center;
    justify-content: center;
    background-color: purple;
}

img {
    height: 100px;
}

li {
    cursor: pointer;
}

li:hover {
    background-color: chartreuse;
}